*{
	margin: 0;
	padding: 0;
}
					/**ESTILOS DEL HEADER**/
header li{
	display: inline-block;
	list-style: none;
	padding-top: 2%; 
}

header a{
	text-decoration: none;
	color: #726B6B;
}

.menu {
	border-right: 1px solid #726B6B;
	padding: 0 27%;
}

header img{
	width: 30%;
    height: 10vh;
}
							/**ESTILOS DE LA SECCION BANNER**/
.banner img {
	width: 100%;
	height:40vh;
}

.semilla {
	background-image: url(../img/semilla.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 59vh;
}

.id {
	background-color: #D1CFCF;
    height: 30vh;
    padding: 5% 0;
}
							/**ESTILOS DE LA SECCION MISION**/
.mision{
	margin: 5% auto;
}

.mision p {
	padding: 1% 14%;
}
 
							/**ESTILOS DE LA SECCION METODOLOGIA**/

.metodo-izq img {
	width: 100%;
}

.metodo-izq{
	background-image: url(../img/metodo.JPG);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 59vh;
}

.metodo-der{
	background-image: url(../img/fondo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 59vh;

}

.metodo-der {
	padding: 10%;
	color: #fff;
}

				/**ESTILOS DE LA SECCION SERVICIO**/

.servicio {
	margin: 5% 0;
}

.serv{
	margin-top: 5%;
}

.servicio h3{
	color: #6A9F0D;
	padding-bottom: 6%
}

.servicio p {
	padding: 0 10%;
} 							/**ESTILOS DE LA SECCION PROYECTOS**/

.proyectos {
	background-color: #6A9F0D;
}

.proyectos{
	padding: 4% 0;
	color: #fff;
}

.proyectos img {
	width: 100%;
    margin-left: 2%;
}

.work {
	text-align: left;
	margin-top: 2%;
	padding: 0 3%;
}

.proyectos h2, .proyectos h3, .proyectos p{
	padding-left: 1%;
}
						/**ESTILOS DE LA SECCION EQUIPO**/
.equipo{
	margin: 2% 0;
}


.perfil{
	border-radius: 50%;
	width: 40%;
}


.equipo p{
	padding: 0 12%;
}

.equipo h5{
	padding-top: 2%;
}
						/**ESTILOS DE LA SECCION REDES-SOCIALES**/
.redes{
	width: 5%;
	margin: 2%;
}

.titulo {
	color: #6A9F0D;
}
									/**ESTILOS DE LA SECCION BLOG**/
.blog {
	background-image: url(../img/fondo2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 50vh;
	padding: 3% 0;
} 

.blog h1{
	padding-bottom: 2%;
}

.blog img {
	width: 80%;
}

.slider1 img {
	width: 22%;
    margin: 68% -6% 0 0;
}

.slider2 img {
	width: 22%;
    margin: 68% 0% 0% -58%;
}

.post{
	text-align: left;
}

.verde {
	color:#6A9F0D;
}

.redes-sociales{
background-color: #7C7777;
height: 41vh;

}

.marco{
	display: inline-block;
	border: 1px solid #fff;
	height: 28vh;
	margin-top: 4%;
	color: #fff;
}

.redes-sociales img{
	width: 41%;
}
									/**ESTILOS DEL FOOTER**/
footer{
	background-color: #F3F2F2;
	padding: 3% 0;
}

.footer1 a{
	text-decoration: none;
	color: #FAE004;
}

.footer2 a {
	text-decoration: none;
	color: #000;
}

.ecomunidad{
	font-weight: bold;
}